#search-btn {
    height: 3rem;
    align-self: center;
}

#mov-img {
    margin-right: 5rem;
}

#info-container {
    margin-left: 5rem;
}

#main-container {
    margin-left: 20rem;
    margin-right: 20rem;
}

#home-img {
    width: 100vw;
    height: 100vh;
}

#search-input {
    text-indent: 3rem;
}
