body {
    font-family: 'Open Sans', sans-serif;
}

.mov-info {
    border: solid;
    border-style: ridge;
    border-radius: 25px;
    padding: 5px;
    background-color: #fafafa;
    border-color: #fafafa;
}

.main-text {
    color: #fafafa;
}

#mov-title {
    font-weight: bold;
    font-size: 50px;
}

#search-btn {
    height: 3rem;
    align-self: center;
}

#mov-img {
    margin-right: 5rem;
}

#info-container {
    margin-left: 5rem;
}

#main-container {
    margin-left: 20rem;
    margin-right: 20rem;
}

#home-img {
    width: 100vw;
    height: 100vh;
}

#search-input {
    text-indent: 3rem;
}

#logo {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

#award {
    text-indent: 0.5rem;
}